.body {
	background-color: #f8f8f8;
}

.Demo-circle {
  color: #222;
  font-size: 36px;
  padding: 0 1em;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
}

.circleBase {
    border-radius: 50%;
    padding-top: 70px;
    width: 200px;
    height: 130px;
    display: inline-block;
    background-color: #2D2D2D;
    color: #f8f8f8;
}